aside {
    margin-top: 3rem;

    .widget_block {
        width: 100%;
        border: 1px solid black;
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-black;
        margin-bottom: 3rem;
    }

    li {
        text-align: center;
        margin-left: 0;
        border: 1px solid $color-black;


    }
}