.home {

    .entry-title {
        display: none;
    }

    #intro>p {
        max-width: 100%;
    }

    .intro-column {
        margin-top: 3rem;
    }

    .entry-header {
        margin-top: 0;
    }

    .wp-block-columns {

        @include respond('tab-land') {
            padding: 1rem 2rem;
        }
    }

    h2 {
        text-align: left;
        font-size: 2rem;
        margin-bottom: 2rem;
        background: black;
        padding: 0.5rem 2rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    #intro {
        margin-top: 5rem;
        margin-bottom: 8rem;

        @include respond('phone') {
            margin: 2rem;
        }

        h3 {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $color-black;
            margin-bottom: 1.6rem;
        }
    }

    .list {
        // float: left;

        &__container {
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            // justify-content: space-between;

            &--item {
                width: 100%;
                display: flex;
                margin-left: 0;
                margin-bottom: 6rem;

                @include respond('tab-port') {
                    flex-direction: column;
                }

                img {
                    width: 45%;

                    @include respond('tab-port') {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .news-list {
        margin-top: 0rem;

        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1.4rem;
            text-align: left;
            margin-left: 1rem;
        }

        .list__container {
            flex-direction: column;

            &--item {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding-bottom: 3rem;
                border-bottom: 1px solid $color-black;

                img {
                    width: 50%;

                    @include respond(tab-port) {

                        margin-right: 2rem;
                    }
                }
            }

        }

        h2 {
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        li {
            margin-bottom: 3rem;
        }
    }

    .places-list {

        .list {

            &__container {
                flex-direction: column;

                &--item {
                    flex-direction: column;
                    border: 1px solid $color-black;

                    img {
                        width: 100%;
                    }

                    h3 {
                        font-size: 1.6rem;
                        font-weight: bold;
                        text-align: center;
                        color: $color-black;
                        padding: 1rem;
                    }
                }
            }
        }
    }

    .sidebar {
        flex-basis: 33.33% !important;
        margin-top: 5rem;
        margin-left: 3rem;

        .uc-pin {
            max-width: 8rem;
        }
    }


}

.wp-block-embed-youtube {
    width: 60rem;
    width: 100%;
    max-width: 100%;
    float: left;

    // hack
    @include respond(phone) {
        float: none;
    }

    iframe {
        width: 100%;
    }
}

.wp-block-latest-comments {
    max-width: 60rem;
}

// latest posts
.single {

    &__container {

        &--item {

            img {
                max-height: 22rem;
            }
        }
    }
}