.page-memorabilia {
    max-width: 120rem;
    margin: 0 auto;

    &__title {
        font-size: 3rem;
    }

    &__intro {
        margin-bottom: 5rem;
        margin-left: 5rem;
    }

    &__listing {
        display: flex;
        margin-right: 5rem;

        @include respond('tab-port') {
            margin-right: 0;
        }
    }

    &__thumbnail {
        flex-basis: 40%;
    }

    &__content {
        flex-basis: 60%;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}