.page-memorabilia {
    max-width: 120rem;
    margin: 0 auto;

    &__title {
        font-size: 3rem;
    }

    &__intro {
        margin-bottom: 5rem;
        margin-left: 5rem;
    }

    &__listing {
        display: flex;
        margin-right: 5rem;

        @include respond('tab-port') {
            flex-direction: column;
            margin-right: 0;
            margin-bottom: 5rem;
        }
    }

    &__thumbnail {
        flex-basis: 40%;

        @include respond(tab-port) {
            flex-basis: 100%;
        }
    }

    &__content {
        flex-basis: 60%;

        @include respond(tab-port) {
            flex-basis: 100%;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}