.page-news {
    max-width: 120rem;
    margin: 2rem 5rem;

    &__container {
        margin-top: 8rem;
    }

    &__listing {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 1rem 2rem 0;
        margin-bottom: 8rem;
        border-bottom: 1px solid $color-black;

        @include respond('tab-port') {
            flex-direction: column;
        }
    }

    &__thumbnail {
        // max-width: 60rem;
        flex-basis: 40%;

        @include respond('tab-port') {
            flex-basis: 100%;
        }
    }

    &__content {
        margin-left: 5rem;
        flex-basis: 60%;

        @include respond('tab-port') {
            flex-basis: 96%;
            margin-right: 2%;
            margin-left: 2%;
        }
    }
}