.page-photos {

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__listing {
        display: flex;
        flex-direction: column;
        flex-basis: 32.33%;
        margin-left: 0;
        margin-bottom: 5rem;
        border: 1px solid $color-black;

        @include respond(tab-port) {
            flex-basis: 100%;
        }
    }

    &__thumbnail {
        width: auto;
    }

    &__meta {
        display: flex;
        justify-content: center;
    }
}


.type-photos {

    .entry-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include respond('tab-port') {
            flex-direction: column;
        }

        .wp-block-group {
            flex-basis: 33%;

            @include respond('tab-port') {
                flex-basis: 100%;
            }
        }

        .wp-block-gallery {
            flex-basis: 66%;

            @include respond('tab-port') {
                flex-basis: 100%;
            }

            .gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .gallery-item {
                    // flex-grow: 0;
                    // flex-shrink: 1;
                    // flex-basis: auto;
                    // flex: 0 1 auto
                    width: 33%;
                }
            }
        }
    }
}