.page-video {

    &__intro {
        margin-bottom: 3rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__listing {
        flex-basis: 25%;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            flex-basis: 100%;
        }
    }
}