.weather-block {
    background: #fff;
    border: 1px solid $color-black;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 2rem;
    margin: 10px 0;
    text-align: center;

    &__content {
        max-width: 40rem;
        display: flex;
        justify-content: space-around;

        @include respond(tab-port) {
            // flex-direction: column;
        }

        p {
            font-size: 1.4rem;
            margin: .2rem auto;
        }

        p#temperature {
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            text-align: left;
            color: $color-black;
        }

        &--stats {}
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-black;
        text-transform: uppercase;
        margin-bottom: 0px;
        text-align: left;
    }

    img {
        max-width: 10rem;
        height: auto;
    }
}